In [27]:
import pandas as pd # type: ignore

In [6]:
dados = pd.read_csv('fifa/players_15.csv')

In [7]:
dados

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,220806,https://sofifa.com/player/220806/ellis-redman/...,E. Redman,Ellis Redman,17,1996-09-26,187,81,Wales,Newport County,...,37+0,38+0,38+0,38+0,37+0,40+0,41+0,41+0,41+0,40+0
15461,225509,https://sofifa.com/player/225509/aaron-collins...,A. Collins,Aaron Collins,17,1997-06-01,178,57,Wales,Newport County,...,31+0,30+0,30+0,30+0,31+0,32+0,31+0,31+0,31+0,32+0
15462,217591,https://sofifa.com/player/217591/piotr-zemlo/1...,P. Żemło,Piotr Żemło,18,1995-07-10,190,76,Poland,Wisła Kraków,...,48+0,46+0,46+0,46+0,48+0,51+0,53+0,53+0,53+0,51+0
15463,222947,https://sofifa.com/player/222947/tom-davies/15...,T. Davies,Tom Davies,22,1992-04-18,180,70,England,Fleetwood Town,...,37+0,36+0,36+0,36+0,37+0,39+0,40+0,40+0,40+0,39+0
15464,201197,https://sofifa.com/player/201197/paul-tisdale/...,P. Tisdale,Paul Tisdale,41,1973-01-14,175,72,Malta,Exeter City,...,36+0,37+0,37+0,37+0,36+0,34+0,33+0,33+0,33+0,34+0

In [8]:
# BUSCA O DOIS PRIMEIROS CAMPOS

dados.head(2)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3

In [9]:
# BUSCA OS DOIS ÚLTIMOS CAMPOS

dados.tail(2)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
15463,222947,https://sofifa.com/player/222947/tom-davies/15...,T. Davies,Tom Davies,22,1992-04-18,180,70,England,Fleetwood Town,...,37+0,36+0,36+0,36+0,37+0,39+0,40+0,40+0,40+0,39+0
15464,201197,https://sofifa.com/player/201197/paul-tisdale/...,P. Tisdale,Paul Tisdale,41,1973-01-14,175,72,Malta,Exeter City,...,36+0,37+0,37+0,37+0,36+0,34+0,33+0,33+0,33+0,34+0

In [10]:
# BUSCA O NOME DAS COLUNAS

dados.columns

Index(['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob',
       'height_cm', 'weight_kg', 'nationality', 'club',
       ...
       'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb'],
      dtype='object', length=104)

In [11]:
# BUSCA AS LINHAS

dados.index

RangeIndex(start=0, stop=15465, step=1)

In [12]:
# BUSCA SOMENTE A LISTA DE (short_name e age)

dados[['short_name', 'age']]

              short_name  age
0               L. Messi   27
1      Cristiano Ronaldo   29
2              A. Robben   30
3         Z. Ibrahimović   32
4               M. Neuer   28
...                  ...  ...
15460          E. Redman   17
15461         A. Collins   17
15462           P. Żemło   18
15463          T. Davies   22
15464         P. Tisdale   41

[15465 rows x 2 columns]

In [13]:
# BUSCA AS ENTRADAS ESPECIFICADAS DENTRO DO []

dados.iloc[0:4]

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,61+3,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3

In [14]:
dados.iloc[3,3]

'Zlatan Ibrahimović'

In [15]:
# LOCALIZA APENAS OS DADOS QUE BATEM COM AS INFORMAÇÕES ESPECIFICADAS 

dados.loc[dados['nationality'] == 'Brazil']

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
15,164240,https://sofifa.com/player/164240/thiago-emilia...,Thiago Silva,Thiago Emiliano da Silva,29,1984-09-22,183,79,Brazil,Paris Saint-Germain,...,81+2,82+2,82+2,82+2,81+2,83+2,85+2,85+2,85+2,83+2
19,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar,Neymar da Silva Santos Junior,22,1992-02-05,175,64,Brazil,FC Barcelona,...,61+3,59+3,59+3,59+3,61+3,55+3,45+3,45+3,45+3,55+3
47,188152,https://sofifa.com/player/188152/oscar-dos-san...,Oscar,Oscar dos Santos Emboaba Júnior,22,1991-09-09,179,67,Brazil,Chelsea,...,65+1,63+1,63+1,63+1,65+1,58+1,49+1,49+1,49+1,58+1
86,146530,https://sofifa.com/player/146530/daniel-alves-...,Dani Alves,Daniel Alves da Silva,31,1983-05-06,173,64,Brazil,FC Barcelona,...,82+2,78+2,78+2,78+2,82+2,81+2,76+2,76+2,76+2,81+2
93,168609,https://sofifa.com/player/168609/joao-miranda-...,Miranda,João Miranda de Souza Filho,29,1984-09-07,186,76,Brazil,Atlético Madrid,...,71+1,73+1,73+1,73+1,71+1,77+1,82+1,82+1,82+1,77+1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12809,221685,https://sofifa.com/player/221685/pedro-nezio-a...,Pedro Ribeiro,Pedro Nezio de Aravio Lopes Ribeiro,24,1990-06-13,193,94,Brazil,Philadelphia Union,...,56+0,60+0,60+0,60+0,56+0,56+0,59+0,59+0,59+0,56+0
13476,224957,https://sofifa.com/player/224957/andre-quemelo...,André,André Quemelo Grelli,23,1990-07-13,173,65,Brazil,Al Shoulla,...,48+0,47+0,47+0,47+0,48+0,43+0,39+0,39+0,39+0,43+0
14345,225549,https://sofifa.com/player/225549/darlan-bispo-...,Darlan Bispo,Darlan Bispo Damasceno,20,1994-01-21,175,78,Brazil,Real Sociedad,...,47+0,49+0,49+0,49+0,47+0,44+0,44+0,44+0,44+0,44+0
14721,223431,https://sofifa.com/player/223431/rafael-leandr...,Rafinha,Rafael Leandro Thomaz,21,1993-02-18,185,75,Brazil,SCR Altach,...,51+0,48+0,48+0,48+0,51+0,52+0,54+0,54+0,54+0,52+0
15246,224181,https://sofifa.com/player/224181/lucas-guedes-...,Lucas Guedes,Lucas Guedes de Lima,18,1996-05-30,181,77,Brazil,Wisła Kraków,...,51+0,52+0,52+0,52+0,51+0,51+0,53+0,53+0,53+0,51+0

In [16]:
# BUSCA DE ACORDO COM A ORDEM ALFABÉTICA OU ORDEM DOS NÚMEROS

dados.sort_values('age')

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
15304,225292,https://sofifa.com/player/225292/edoardo-togna...,E. Tognazzi,Edoardo Tognazzi,16,1997-07-28,181,68,Italy,Brescia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12000,215400,https://sofifa.com/player/215400/hakon-lorentz...,H. Lorentzen,Håkon Lorentzen,16,1997-08-02,185,78,Norway,SK Brann,...,42+0,40+0,40+0,40+0,42+0,38+0,36+0,36+0,36+0,38+0
14066,225237,https://sofifa.com/player/225237/jacob-ortmark...,J. Ortmark,Jacob Ortmark,16,1997-08-29,175,68,Sweden,IF Brommapojkarna,...,49+0,49+0,49+0,49+0,49+0,45+0,42+0,42+0,42+0,45+0
14729,224915,https://sofifa.com/player/224915/scott-wright/...,S. Wright,Scott Wright,16,1997-08-08,175,65,Scotland,Aberdeen,...,41+0,39+0,39+0,39+0,41+0,36+0,31+0,31+0,31+0,36+0
14194,225490,https://sofifa.com/player/225490/frederik-bay/...,F. Bay,Frederik Bay,16,1997-08-06,180,70,Denmark,FC København,...,54+0,54+0,54+0,54+0,54+0,53+0,54+0,54+0,54+0,53+0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
468,11983,https://sofifa.com/player/11983/brad-friedel/1...,B. Friedel,Brad Friedel,43,1971-05-18,188,92,United States,Tottenham Hotspur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15455,11728,https://sofifa.com/player/11728/barry-richards...,B. Richardson,Barry Richardson,44,1969-08-05,185,77,England,Wycombe Wanderers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15282,168706,https://sofifa.com/player/168706/paul-mathers/...,P. Mathers,Paul Mathers,44,1970-01-17,183,72,Scotland,St. Mirren,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3676,136594,https://sofifa.com/player/136594/byung-ji-kim/...,Kim Byung Ji,김병지 Byung Ji Kim,44,1970-04-08,184,78,Korea Republic,Jeonnam Dragons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10504,188492,https://sofifa.com/player/188492/andrea-pierob...,A. Pierobon,Andrea Pierobon,44,1969-07-19,183,79,Italy,Cittadella,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# USANDO (ascending = False), ELE BUSCA DO MAIOR PARA O MENOR (Tanto para Número quanto para Letra)

dados.sort_values('age', ascending= False)

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
3676,136594,https://sofifa.com/player/136594/byung-ji-kim/...,Kim Byung Ji,김병지 Byung Ji Kim,44,1970-04-08,184,78,Korea Republic,Jeonnam Dragons,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10504,188492,https://sofifa.com/player/188492/andrea-pierob...,A. Pierobon,Andrea Pierobon,44,1969-07-19,183,79,Italy,Cittadella,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15282,168706,https://sofifa.com/player/168706/paul-mathers/...,P. Mathers,Paul Mathers,44,1970-01-17,183,72,Scotland,St. Mirren,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15455,11728,https://sofifa.com/player/11728/barry-richards...,B. Richardson,Barry Richardson,44,1969-08-05,185,77,England,Wycombe Wanderers,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,11983,https://sofifa.com/player/11983/brad-friedel/1...,B. Friedel,Brad Friedel,43,1971-05-18,188,92,United States,Tottenham Hotspur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10874,225163,https://sofifa.com/player/225163/david-munoz-p...,David Muñoz,David Muñoz Pueyo,16,1997-07-09,186,79,Spain,Real Zaragoza,...,42+0,42+0,42+0,42+0,42+0,39+0,38+0,38+0,38+0,39+0
15007,215502,https://sofifa.com/player/215502/bartlomiej-dr...,B. Drągowski,Bartłomiej Drągowski,16,1997-08-19,188,74,Poland,Jagiellonia Białystok,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15005,222454,https://sofifa.com/player/222454/niall-flint/1...,N. Flint,Niall Flint,16,1997-08-01,174,69,England,Shrewsbury,...,45+0,47+0,47+0,47+0,45+0,43+0,40+0,40+0,40+0,43+0
15030,222322,https://sofifa.com/player/222322/george-poynto...,G. Poynton,Georgie Poynton,16,1997-09-08,178,70,Republic of Ireland,Dundalk,...,50+0,49+0,49+0,49+0,50+0,49+0,47+0,47+0,47+0,49+0
15033,225487,https://sofifa.com/player/225487/hasan-kurucay...,H. Kurucay,Hasan Kurucay,16,1997-08-31,187,79,Turkey,Odense Boldklub,...,43+0,46+0,46+0,46+0,43+0,47+0,50+0,50+0,50+0,47+0

In [18]:
# ADICIONANDO UMA COLUNA (total)

dados['total'] = dados['movement_acceleration'] + dados['movement_agility'] + dados['movement_reactions']
dados

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,total
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,FC Barcelona,...,62+3,62+3,62+3,62+3,54+3,45+3,45+3,45+3,54+3,969494-2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,Real Madrid,...,63+3,63+3,63+3,63+3,57+3,52+3,52+3,52+3,57+3,919390
2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,FC Bayern München,...,64+3,64+3,64+3,64+3,55+3,46+3,46+3,46+3,55+3,9393+189+2
3,41236,https://sofifa.com/player/41236/zlatan-ibrahim...,Z. Ibrahimović,Zlatan Ibrahimović,32,1981-10-03,195,95,Sweden,Paris Saint-Germain,...,65+3,65+3,65+3,61+3,56+3,55+3,55+3,55+3,56+3,74+28685
4,167495,https://sofifa.com/player/167495/manuel-neuer/...,M. Neuer,Manuel Neuer,28,1986-03-27,193,92,Germany,FC Bayern München,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58+843+489+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15460,220806,https://sofifa.com/player/220806/ellis-redman/...,E. Redman,Ellis Redman,17,1996-09-26,187,81,Wales,Newport County,...,38+0,38+0,38+0,37+0,40+0,41+0,41+0,41+0,40+0,6552+136
15461,225509,https://sofifa.com/player/225509/aaron-collins...,A. Collins,Aaron Collins,17,1997-06-01,178,57,Wales,Newport County,...,30+0,30+0,30+0,31+0,32+0,31+0,31+0,31+0,32+0,606639
15462,217591,https://sofifa.com/player/217591/piotr-zemlo/1...,P. Żemło,Piotr Żemło,18,1995-07-10,190,76,Poland,Wisła Kraków,...,46+0,46+0,46+0,48+0,51+0,53+0,53+0,53+0,51+0,573650
15463,222947,https://sofifa.com/player/222947/tom-davies/15...,T. Davies,Tom Davies,22,1992-04-18,180,70,England,Fleetwood Town,...,36+0,36+0,36+0,37+0,39+0,40+0,40+0,40+0,39+0,713332
15464,201197,https://sofifa.com/player/201197/paul-tisdale/...,P. Tisdale,Paul Tisdale,41,1973-01-14,175,72,Malta,Exeter City,...,37+0,37+0,37+0,36+0,34+0,33+0,33+0,33+0,34+0,353741

In [19]:

dados = dados[['short_name', 'total']]
dados.sort_values('total', ascending= False)

          short_name     total
157       T. Walcott    978382
7242        M. Bolly    977366
0           L. Messi  969494-2
335    P. Aubameyang  968181-1
7966        D. Oduro  96+29058
...              ...       ...
6112        R. Zajac    204153
13572      S. Sjanic    203749
11872         C. Day    203453
4327      R. Carroll    202764
8718        K. Baran    202548

[15465 rows x 2 columns]

In [20]:
# EXPORTANDO OS DADOS (dados.1csv)

dados.to_csv('dados1.csv', index= False)

In [21]:
# EXPORTANDO OS DADOS DE OUTRA MANEIRA (dado2.xlsx)

dados.to_excel('dados2.xlsx', index= False)

In [22]:
# EXPORTANDO OS DADOS DE OUTRA MANEIRA (dado3.txt)

dados.to_csv('dados3.txt', index= False, sep='\t') # sep - Usado para tirar a vírgula, melhorando a forma de ler.